@page "/settings"
@using System.Net.Http;
@using Newtonsoft.Json;
@using static System.String;

@inject HttpClient Http;
@inject IHttpClientFactory ClientFactory;

<PageTitle>Settings</PageTitle>

<h2>Settings</h2>
<hr>
<div class="row">
    <div class="col-12 col-md-6 col-lg-4 mt-3">
        <h2>Add User</h2>
        <form onsubmit="event.preventDefault()">     
            <div class="form-group mt-2">
                <label for="">First Name</label>
                <input type="text" class="form-control" name="FirstName" placeholder="FirstName" @bind="AddFirstName" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Last Name</label>
                <input type="text" class="form-control" name="LastName" placeholder="LastName" @bind="AddLastName" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Age</label>
                <input type="number" class="form-control" name="Age" placeholder="Age" @bind="AddAge" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Address</label>
                <input type="text" class="form-control" name="Address" placeholder="Address" @bind="AddAddress" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Email</label>
                <input type="email" class="form-control" name="Email" placeholder="Email" @bind="AddEmail" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Phone</label>
                <input type="number" class="form-control" name="Phone" placeholder="Phone" @bind="AddPhone" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3" @onclick="add_user">Add User</button>
        </form>
    </div>
    <div class="col-12 col-md-6 col-lg-4 mt-3">
        <h2>Edit User</h2>
        <form onsubmit="event.preventDefault()">     
            <div class="form-group">
                <label for="">Select a user</label>
                <select class="form-select" name="UID" @onchange="update_form_details">
                    @foreach (var user in user_list)
                    {
                    <option value="@user.UID">@user.FirstName @user.LastName</option>
                    }
                </select>
            </div>
            <div class="form-group mt-2">
                <label for="">First Name</label>
                <input type="text" class="form-control" name="FirstName" @bind="EditFirstName" @oninput="e => EditFirstName = e.Value.ToString()" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Last Name</label>
                <input type="text" class="form-control" name="LastName" @bind="EditLastName" @oninput="e => EditLastName = e.Value.ToString()" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Age</label>
                <input type="number" class="form-control" name="Age" @bind="EditAge" @oninput="e => EditAge = Convert.ToInt32(e.Value)" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Address</label>
                <input type="text" class="form-control" name="Address" @bind="EditAddress" @oninput="e => EditAddress = e.Value.ToString()" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Email</label>
                <input type="email" class="form-control" name="Email" @bind="EditEmail" @oninput="e => EditEmail = e.Value.ToString()" required>
            </div>
            <div class="form-group mt-2">
                <label for="">Phone</label>
                <input type="number" class="form-control" name="Phone" @bind="EditPhone" @oninput="e => EditPhone = e.Value.ToString()" required>
            </div>
            <button type="submit" class="btn btn-success w-100 mt-3" @onclick="edit_user">Change User</button>
        </form>
    </div>
</div>

@code {
    List<User> user_list = new List<User>();
    protected override async Task OnInitializedAsync()
    {
        // Inside your server-side Razor Page or API controller action
        using (var httpClient = new HttpClient())
        {
            var users_url = "http://localhost/api/get_users.php";
            var response = await httpClient.GetAsync(users_url);

            var response_body = await response.Content.ReadAsStringAsync();
            dynamic response_object = JsonConvert.DeserializeObject<dynamic>(response_body);

            int status_code = (int)response.StatusCode;
            
            if (status_code != 200) {
                Console.WriteLine(response_object["status"] + " : " + response_object["message"]);
                return;
            }

            Console.WriteLine(response_object);

            foreach (var user in response_object["data"]) {

                User new_user = new User(        
                    (int)user["UID"],
                    (string)user["FirstName"],
                    (string)user["LastName"],
                    (int)user["Age"],
                    (string)user["Address"],
                    (string)user["Email"],
                    (string)user["Phone"]
                );
            
                user_list.Add(new_user);
            }
        }
    }

    private int EditSelectedUser;
    private string EditFirstName;
    private string EditLastName;
    private int EditAge;
    private string EditAddress;
    private string EditPhone;
    private string EditEmail;

    private async void edit_user()
    {
        if (EditSelectedUser == 0 || IsNullOrEmpty(EditFirstName) || IsNullOrEmpty(EditLastName) || EditAge == 0 || IsNullOrEmpty(EditAddress) || IsNullOrEmpty(EditEmail) || IsNullOrEmpty(EditPhone)) {
            Console.WriteLine("Submitted form has empty fields");
            return;
        }

        using (var httpClient = new HttpClient())
        {
            //if (!isset($_GET["FirstName"]) || isset($_GET["LastName"]) || isset($_GET["Age"]) ||isset($_GET["Address"]) ||isset($_GET["Email"]) ||isset($_GET["Phone"])) {

            var edit_user_url = "http://localhost/api/update_user.php?UID="+EditSelectedUser+"&FirstName="+EditFirstName+"&LastName="+EditLastName+"&Age="+EditAge+"&Address="+EditAddress+"&Email="+EditEmail+"&Phone="+EditPhone;
            
            Console.WriteLine(edit_user_url);

            var response = await httpClient.GetAsync(edit_user_url);

            var response_body = await response.Content.ReadAsStringAsync();
            dynamic response_object = JsonConvert.DeserializeObject<dynamic>(response_body);

            int status_code = (int)response.StatusCode;
                
            if (status_code != 200) {
                Console.WriteLine(response_object["status"] + " : " + response_object["message"]);
                return;
            }

            Console.WriteLine(response_object);
        }
    }

    private void update_form_details(ChangeEventArgs e)
    {
        int.TryParse(e.Value.ToString(), out EditSelectedUser);
        var selectedUser = user_list.FirstOrDefault(user => user.UID == EditSelectedUser);
        EditFirstName = selectedUser?.FirstName;
        EditLastName = selectedUser?.LastName;
        EditAge = (int)selectedUser.Age;
        EditAddress = selectedUser?.Address;
        EditPhone = selectedUser?.Phone;
        EditEmail = selectedUser?.Email;
    }

    private string AddFirstName;
    private string AddLastName;
    private string AddAge;
    private string AddAddress;
    private string AddEmail;
    private string AddPhone;

    private async void add_user()
    {
        if (IsNullOrEmpty(AddFirstName) || IsNullOrEmpty(AddLastName) || IsNullOrEmpty(AddAge) || IsNullOrEmpty(AddAddress) || IsNullOrEmpty(AddEmail) || IsNullOrEmpty(AddPhone)) {
            Console.WriteLine("Submitted form has empty fields");
            return;
        }

        using (var httpClient = new HttpClient())
        {
            //if (!isset($_GET["FirstName"]) || isset($_GET["LastName"]) || isset($_GET["Age"]) ||isset($_GET["Address"]) ||isset($_GET["Email"]) ||isset($_GET["Phone"])) {

            var add_user_url = "http://localhost/api/add_user.php?FirstName="+AddFirstName+"&LastName="+AddLastName+"&Age="+AddAge+"&Address="+AddAddress+"&Email="+AddEmail+"&Phone="+AddPhone;
            
            Console.WriteLine(add_user_url);
            //return;

            var response = await httpClient.GetAsync(add_user_url);

            var response_body = await response.Content.ReadAsStringAsync();
            dynamic response_object = JsonConvert.DeserializeObject<dynamic>(response_body);

            int status_code = (int)response.StatusCode;
                
            if (status_code != 200) {
                Console.WriteLine(response_object["status"] + " : " + response_object["message"]);
                return;
            }

            Console.WriteLine(response_object);
        }
    }
}